{{name}}<ul>
    <!-- <li>
        {{#IsMine}}
            <a class="unsubscribe" href="#">Unsubscribe</a>
        {{/IsMine}}
        {{^IsMine}}
            <a class="subscribe" href="#">Subscribe</a>
        {{/IsMine}}
    </li> -->
    <li><a href="{{site}}" target="_blank">Site</a></li>
    <li><a href="{{feed}}" target="_blank">Feed</a></li>
    <li>Last Updated: {{lastUpdatedFormated}}</a></li>
</ul>