<!-- <div class="page-header">
    <h2>My Comics</h1>
</div>
<ul class="my-comics"></ul> -->
<div class="page-header">
    <h2>New Comics</h1>
</div>
<ul class="new-comics"></ul>
<div class="page-header">
    <h2>All Comics</h1>
</div>
<ul class="comics"></ul>